.card-container {
  margin: 20px;
  text-align: center;
  width: 90%
}

.card {
  background-color: var(--secondary-light);
  padding: 10px;
}

.image {
  border-radius: 30px;
}

@media (min-width: 700px) {
  .card-container {
    width: 60%;
  }
}

@media (min-width: 1020px) {
  .card-container {
    width: 30%;
  }
}