<header class="header flex-container">
  <a routerLink="/home" routerLinkActive="active">
    <img class="brand" [src]=logo alt="Logo">
  </a>
  <a routerLink="/products" routerLinkActive="active">Productos</a>
  <a routerLink="/contact" routerLinkActive="active">Contacto</a>
  <a routerLink="/order" mat-raised-button color="accent">
    <div class="flex-container">
      <mat-icon>shopping_cart</mat-icon>
      Carrito
      <p>{{ total$ | async }}</p>
    </div>
  </a>
</header>

<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <nav>
      <a mat-button routerLink="/home">Home</a>
      <a routerLink="/products" routerLinkActive="active">Productos</a>
    </nav>
    <a mat-raised-button matBadge="4" matBadgeColor="warn">
      <mat-icon>shopping_cart</mat-icon>
    </a>
  </mat-toolbar-row>
</mat-toolbar> -->
