.header {
  background-color: var(--secondary-light);
  box-shadow: 2px 6px 13px -2px rgba(0,0,0,0.69);
  font-size: 22px;
  padding: 10px;
  margin-bottom: 20px;
}

.brand {
  width: 100px;
}

.active {
  color: var(--primary);
}