<button (click)="addItem()">Add Item</button>

<ul>
  <li *ngIf="items.length === 0">
    La lista esta vacia
  </li>
  <li *ngFor="let name of items; index as i">
    {{ name }}
    {{ i }}
    <button (click)="deleteItem(i)">delete</button>
  </li>
</ul>

<app-header></app-header>

<h1 class="title">Lista de Productos</h1>

<div class="product-grid">
  <app-product 
    *ngFor="let product of products" 
    (productClicked)="clickProduct($event)" 
    [product]="product">
  </app-product>
</div>

<app-footer></app-footer>