:host {
  background-color: var(--secondary-light);
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 7px 13px 18px -6px rgba(0,0,0,0.75);
  display: block;
  padding: 20px;
  text-align: center;
  h3 {
    font-size: 35px;
    text-align: center;
  }
  button {
    border-radius: 5px;
    color: var(--letter);
    padding: 10px 20px;
  }
}

img {
  border: 1px solid black;
  border-radius: 5px;
  max-width: 100%;
}

.margin {
  margin: 10px;
}

